---
import { Icon } from "astro-icon"
---

<footer aria-label="Footer" class="border">
  <div class="mx-auto max-w-screen-xl px-8">
    <div class="flex justify-end">
      <a>fe</a>
    </div>
  </div>
</footer>